.work-txtimg-col1 {
  width: 60%;
  padding: 12px;
}

.work-txtimg-col1 li{
  margin:6px auto;
  font-size: 24px;
}

img.work-col2{
  width: 40%;
  height: 40%;
  padding: 0 36px;
text-align: center;
}