
.work-details {
  max-width: 100%;
  text-align: left;
  padding: 20px;
}

.work-details h2{
  margin-top: 12px;
  margin-bottom: 12px;
}
.work-details h4{
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .work-details{
    padding: 12px 0 0 0;
  }
  .work-details p{
    margin: 6px;
  }
}