
.work-details {
  max-width: 100%;
  text-align: left;
  padding: 20px;
}

.work-details-box:last-child{
  margin-top: 24px;
  border: 1px solid black;
}

.work-details h2{
  margin-top: 12px;
  margin-bottom: 12px;
}
.work-details h4{
  font-size: 24px;
  font-weight: 600;
}

.work-details-box h3{
 margin-top: 12px;
}

@media (max-width: 900px) {
  .work-details{
    padding: 12px 0 0 0;
  }
  .work-details p{
    margin: 6px;
  }
}