
.work-detailst {
  max-width: 100%;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.work-detailst h3 {
font-weight: bold;
font-size: 24px;
}

.work-detailst h4 {
  margin: 6px 12px;
  font-size: 24px;
}

.work-detailst p {
  margin: 6px 12px;
}
