.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 20px;
  width: 90%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .main-menu {
    width: 80%;
    margin-left: 0;
  }  
}
@media screen and (max-width: 350px) {
  .main-menu {
    flex-direction: column;
  }  
  .main-menu li {
    margin: 6px 0;
  }
}