.hero {
  width: 100%;
  height: calc(100vh - 60px); /* Adjusting for header height */
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  width: 80vw;
  height: 50vh;
}
.hero-content {
  width: 40vw;
  text-align: left;
  z-index: 10;
}

.hero-content h1 {
  font-size: 3.2em;
  font-weight: 600;
  margin-left: 100px;
}

.video-container {
  width: 40vw;
  z-index: 1;
}
.video-container video {
  width: 80%;
  height: 80%;
  max-height: 450px;
  object-fit: contain;
}

.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .hero {
    justify-content: space-around;
    height: 90vh;
  }

  .hero-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero-content {
    height: 100vh;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2em;
    width: 100%;
    margin-left: 20px;
  }
  .video-container {
    width: 100%;
  }
  .video-container video {
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 540px) {
  .hero {
    height: calc(100vh - 170px); /* Adjusting for header height */
  }
}

@media (max-width: 510px) {
  .hero {
    height: calc(100vh - 150px); /* Adjusting for header height */
  }
  .hero-content h1{
    font-size: 1.8em;
  }
  .hero-container {
    height: 50vh;
  }
}
