.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  height: 50vh;
}
.hero-content{
    width:60%;
    text-align: left;
}

.hero-content h1{
  font-size: 3.2em;
  font-weight: 600;
  margin-left: 100px;
}

.video-container video {
  width: 80%;
  height: 80%;
  object-fit: contain;
}  

.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
.hero{
  justify-content: space-around;
  height: 90vh;
}

  .hero-container{
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero-content{
  height: 80vh; 
}

  .hero-content h1{
    font-size: 2em;
    width: 100%;
    margin-left: 20px;
  }
  .video-container video {
    width: 100%;
    height: 30vh;
  }  
}
