@import "./fonts";
:root {
  --primary-color: #fff36d;
  --text-color: #000;
}
html,body{
  overflow-x: hidden;
}

body {
  font-family: "NeueMontreal", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  orphans: 3;
  widows: 3;
}
h2{
  font-size: 30px;
}
h3{  
  font-size: 20px;
}
h2,
h3 {
  page-break-after: avoid;
}
ul{
  list-style: none;
}

.button{
  border: 1px solid black;
  padding: 12px 19px;
  width: fit-content;
}

main {
  display: flex;
  flex-flow: column;
  flex: 1;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0 0 15px;
}

section {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}

section h2{
  font-weight: 600;
}


@media (max-width: 768px) {
  main{
    margin-top: 60px;
  }
}