.rotating-curved-text {
    font-weight: 600;
  }
.curved-text-link {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.center{
    display: flex;
    justify-content: center;
}