.works {
  flex-direction: column;
  margin: 0;
}
.works-header{
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.works-header h1 {
  font-weight: bold;
}

.contact-details{
  height:100%;
}