.slider {
  position: relative;
  margin: 0 auto;
}

.slide {
  position: relative;
  display: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.slide img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide.active {
  display: block;
  animation-name: fade;
  animation-duration: 0.4s;
}
