.contact {
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-intro h1{
  margin: 50px auto;
  width: 100%;
  height: 100%;
}

.contact-text {
  margin: 0;
}

.contact-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espacement entre les champs */
}

.form-control {
  width: 100%;
  padding: 22px 0;
  border: none;
  border-bottom: 0.1px solid black;
  background: transparent;
  color: black;
  font-weight: bold;
  border-radius: 0; /* Suppression des bords arrondis */
}

.form-control:focus {
  border-bottom: 2px solid black;
  outline: none;
  color: black;
  background: rgba(0, 0, 0, 0.019);
  font-weight: bold;
  border-radius: 0; /* Assure que le focus ne change pas la forme */
}

textarea.form-control {
  resize: none;
  height: 150px;
}

.contact-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  width: 100%;
  margin-top: 20px;
}

.contact-button:hover {
  border: 1px solid #000;
  background-color: #d8d859;
  color: #000;
}

@media (max-width: 768px) {
  .contact-container {
    width: 90%;
    padding: 20px;
  }
}
