.work-col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  line-height: 1.4;
  width: 50%;
  padding: 0;
}

.work-box{
  border: 1px solid black;
  padding-left: 3%;
  padding-right: 3%;
}

.work-col1 h3 {
  text-align: center;
}

