.basic-button,.large-button {
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: fit-content;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
}

  .large-button {
  padding: 10px 32px;
}

.basic-button:hover, .large-button:hover {
  scale: 1.05;
}