.carousel {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
  }
  @media all and (max-width: 768px) {
    .carousel {
      height: 255px;
      border-radius: 25px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .carousel {
      height: 330px;
    }
  }
  .carousel__slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 800ms ease-in-out;
  }
  .carousel__slider__pictures {
    height: 415px;
    max-height: 415px;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  @media all and (max-width: 768px) {
    .carousel__slider__pictures {
      height: 255px;
      max-height: 255px;
    }
  }
  @media all and (max-width: 768px) {
    .carousel__slider__pictures {
      height: 330px;
      max-height: 330px;
    }
  }
  .carousel__commands {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
  }
  .carousel__commands__photocount {
    position: absolute;
    color: white;
    font-size: 18px;
    bottom: 2%;
    right: 50%;
    margin: 0;
  }
  @media all and (max-width: 768px) {
    .carousel__commands__photocount {
      display: none;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .carousel__commands__photocount {
      font-size: 14px;
    }
  }
  .carousel__commands__buttons {
    border: none;
    background-color: transparent;
  }
  
  .arrow {
    height: 80px;
  }
  @media all and (max-width: 768px) {
    .arrow {
      height: 24px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .arrow {
      height: 56px;
    }
  }
  .arrow--backward {
    transform: rotate(-180deg);
  }