.work-card {
  height: 250px;
  width: calc(100vw);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.work-card img {
  width: calc(50vw);
  object-fit: cover;
  object-position: 25% 25%;
  display: block;
}

.work-card{
  -webkit-filter: contrast(200%) grayscale(100%);
  filter: contrast(200%) grayscale(100%);
}
.work-card:hover{
  filter:none;
}


.work-text {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px;
  flex-grow: 1;
  font-weight: bold;
}

.work-text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: bold;
}

.work-text-row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: bold;
}

.work-text h3 {
  margin: 6px 12px;
  font-size: 30px;
  font-weight: bold;  
}

.work-text-year {
  margin: 6px 12px;
  font-size: large;
  font-weight: bold;
}

.work-text p {
  margin: 6px 12px;
  
}
.work-tag {
  font-size: x-large;
  display: inline;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .work-text-row, .work-text-row2 {
    margin-top: 6px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .work-card img {
    filter: none;
    width: 100%;
  }
  .work-card {
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
  }
}