.work-card {
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(95vw);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  border: 3.3px solid black;
  border-radius: 3px;
}

.work-card img {
  width: calc(50vw);
  object-fit: cover;
  object-position: 25% 25%;
  display: block;
}

.workcard-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 12px;
  flex-grow: 1;
  font-weight: bold;
  overflow: hidden;
}

.work-text-2col {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2.7rem;
}
.work-text-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.work-text-row button {
  justify-content: flex-start;
}

.work-id,
.workcard-title {
  margin: 4px 6px;
  font-weight: bold;
}

.work-id {
  font-size: 42px;
}

.workcard-title {
  font-size: 30px;
}
.workcard-title {
  text-transform: uppercase;
}

.work-text-year {
  margin-left: 6px;
  font-size: 18px;
  font-weight: bold;
}
.work-text li {
  font-size: 1.5rem;
}
.work-text p {
  margin: 6px 12px;
}

.work-tag {
  font-size: x-large;
  display: inline;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 8px 16px;
  margin: 4px;
  margin-right: 32px;
}

@media (max-width: 1160px) {
  .work-text-row,
  .work-text-row2 {
    margin-top: 6px;
  }
  .work-text-2col {
    margin-top: 2rem;
  }
  .work-card img {
    width: 40%;
    object-position: 50% 25%;
  }
}

@media (max-width: 768px) {
  .work-card img {
    width: 100%;
  }
  .work-card {
    flex-direction: column;
    height: 450px;
  }
}

@media (max-width: 490px) {
  .work-text-2col {
    flex-direction: column;
  }
  .work-text-2col div{
    text-align: center;
  }
  .work-text-2col div:nth-last-child(1) {
    margin-top: 24px;
  }
}