.timeline-entry {
  margin-bottom: 2rem;
}

.timeline-entry-title { 
  margin: 12px auto;
}

.timeline-entry ul {
  margin-left: 1rem;
  list-style-type: circle;
  font-weight: bold;
}

.timeline-entry ul li {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .timeline-entry ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
}