.work-title {
  margin: 48px auto 24px auto;
  font-size: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  text-transform: uppercase;
}

.work-title-tag {
  display: inline;
  font-weight: bold;
  background-color: black;
  color: var(--primary-color);
  padding: 8px 16px;
  margin-left: 32px;
}
.work-title-tag-list{
    font-size: 1.2rem;
}

@media screen and (max-width: 1168px) {
  .work-title {
    font-size: 2.5rem;
    margin: 24px auto 12px auto;
  }
  .work-title-tag {
    font-size: 1.2rem;
    padding: 4px 8px;
    margin-left: 16px;
  }
  .work-title-tag-list{
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .work-title {
    flex-direction: column;
  }
  .work-title-tag-list{
    margin: 12px auto;
  }
}
