.card-artist{
  font-weight:200;
  font-size: 0.8em;
}

.art-gallery {
  max-width: 2000px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  gap: 0;
}

@media (min-width: 600px) {
  /* button + button,
  input + button {
    margin-left: 1rem;
  } */

  .art-gallery {
    column-count: 1;
  }
}

@media (min-width: 800px) {
  .art-gallery {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .art-gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .art-gallery {
    column-count: 4;
  }
}

@media (min-width: 1600px) {
  .art-gallery {
    column-count: 5;
}
}
.info{
  font-weight: 300;
  margin-left: 275px;
  z-index: 1;
}