html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcc68e;
  background-image: linear-gradient(62deg, #fcc68e 0%, #fdfdfd 100%);
  font-family: 'NeueMontreal', sans-serif;
}

header {
  background-color: transparent;
  color: black;
  font-family: 'NeueMontreal-Bold', sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 100;
}

.h1 {
  color: black;
}

.navbar {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-right .btn {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-right .btn:hover {
  background-color: rgba(255, 255, 255, 0.4);

/* Fonts */
@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
