@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body {
    font-family: 'Ibarra Real Nova', serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc107;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
}

section {
    padding: 40px;
}

#about {
    background-color: #f0f8ff; 
}

#projects {
    background-color: #ffd700; 
}

#contact {
    background-color: #ffb6c1;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}


.container {
    max-width: 600px;
    margin: auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
